apiVersion: v1
kind: Service
metadata:
  name: nginx
  labels:
    app: nginx
spec:
  clusterIP: None
  selector:
    app: nginx
  ports:
  - name: http
    port: 80
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: web-nginx
spec:
  serviceName: nginx
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx:1.25-alpine
        ports:
        - containerPort: 80
          name: http

        volumeMounts:
        - name: www
          mountPath: /usr/share/nginx/html

        # Add an init container to write pod identity to file
        command: ["/bin/sh"]
        args:
          - -c
          - |
            echo "<h1>Hostname: $(hostname)</h1>" > /usr/share/nginx/html/index.html
            echo "<p>Pod IP: $(hostname -i)</p>" >> /usr/share/nginx/html/index.html
            nginx -g 'daemon off;'

  volumeClaimTemplates:
  - metadata:
      name: www
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 1Gi
